{% extends 'pages/parametre.html' %}

{% block content2 %}
<h1>Les cookies : définition, fonctionnement et exemples d'utilisation</h1>

    <h2>Introduction</h2>

    <p>Les cookies sont de petits fichiers texte stockés sur votre appareil par les sites web que vous visitez. Ils permettent aux sites web de se souvenir de vos actions et de vos préférences (telles que la connexion, la langue, la taille de la police et d'autres paramètres d'affichage) sur une période donnée, ce qui peut simplifier et accélérer votre navigation ultérieure sur Soundrise.</p>

    <h2>Fonctionnement des cookies</h2>

    <p>Lorsque vous visitez Soundrise, nous pouvons envoyer un ou plusieurs cookies à votre navigateur. Votre navigateur les stocke dans un espace dédié sur votre appareil. Lorsque vous revisitez le site, votre navigateur nous envoie les cookies stockés . Soundrise peut ainsi utiliser les informations contenues dans les cookies pour vous offrir une expérience personnalisée.</p>

    <h2>Types de cookies</h2>

    <p>Il existe deux principaux types de cookies :</p>

    <ul>
        <li>**Cookies de session:** Ces cookies sont temporaires et sont supprimés lorsque vous fermez votre navigateur. Ils sont utilisés pour stocker des informations temporaires, telles que les articles de votre panier d'achat.</li>
        <li>**Cookies persistants:** Ces cookies restent sur votre appareil jusqu'à ce qu'ils expirent ou que vous les supprimiez manuellement. Ils sont utilisés pour stocker des informations telles que vos identifiants de connexion et vos préférences.</li>
    </ul>

    <h2>Exemples d'utilisation des cookies</h2>

    <p>Les cookies sont utilisés à de nombreuses fins, notamment :</p>

    <ul>
        <li>**Authentification:** Les cookies peuvent être utilisés pour stocker vos identifiants de connexion, ce qui vous évite de les saisir à chaque fois que vous vous connectez à un site web.</li>
        <li>**Personnalisation:** Les cookies peuvent être utilisés pour personnaliser votre expérience sur un site web, en mémorisant vos préférences telles que la langue, la taille de la police et d'autres paramètres d'affichage.</li>
        <li>**Panier d'achat:** Les cookies peuvent être utilisés pour suivre les articles que vous avez ajoutés à votre panier d'achat sur un site web de e-commerce.</li>
        <li>**Analyse du trafic:** Les cookies peuvent être utilisés pour suivre le trafic sur un site web et pour collecter des données sur la façon dont les utilisateurs interagissent avec le site. Ces données peuvent être utilisées pour améliorer l'expérience utilisateur et pour rendre le site web plus efficace.</li>
        <li>**Publicité ciblée:** Les cookies peuvent être utilisés pour diffuser des publicités ciblées en fonction de vos intérêts et de votre comportement de navigation.</li>
    </ul>

    <h2>Gestion des cookies</h2>

    <p>Vous pouvez contrôler les cookies que vous utilisez en modifiant les paramètres de votre navigateur. Vous pouvez généralement choisir d'accepter tous les cookies, de refuser tous les cookies ou de ne recevoir des notifications que lorsque des cookies sont envoyés. Vous pouvez également supprimer les cookies stockés sur votre appareil.</p>

    

    

    

    

    
{% endblock content2 %}