{% extends 'layout/layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 0px;">
        <div class="col-md-4 text-center">
            <img src="{{ user_profile.profile_picture }}" class="img-fluid rounded-circle mb-3 square-image-big" alt="Profile Picture">
            {% if user_profile.rank == 'admin' %}
            <p style="color: red;">
                <strong>{{ user_profile.rank }}</strong>
            </p>
            {% elif user_profile.rank == 'diamond' %}
            <p style="color: rgb(50, 110, 187);">
                <strong>{{ user_profile.rank }}</strong>
            </p>
            {% else %}
            <p>
                <strong>{{ user_profile.rank }}</strong>
            </p>
            {% endif %}
            <h2>{{ user_profile.username }}</h2>
            <h4 class="text-muted">{{ user_profile.full_name }}</h4>
            <p><strong>Email:</strong> {{ user_profile.email }}</p>
            <p><strong>Country:</strong> {{ user_profile.country }}</p>
            <p><strong>Profile Description:</strong> {{ user_profile.profile_free_text }}</p>
            <p><strong>Telephone:</strong> {{ user_profile.tel }}</p>
            <p><strong>Professional Mail:</strong> {{ user_profile.mail_pro }}</p>
            <p>followers: {{ follower_count }}</p>
            <p>followed acounts: {{ following_count }}</p>
            {% if request.user != user_profile %}
                {% if request.user in user_profile.followers.all %}
                    <a href="{% url 'accounts:toggle_follow' user_profile.id 0 %}" class="btn btn-danger">Unfollow</a>
                {% else %}
                    <a href="{% url 'accounts:toggle_follow' user_profile.id 0 %}" class="btn btn-primary">Follow</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2 class="mb-4">Uploaded Beats</h2>
            <div class="beats-list-container" style="max-height: 70%; overflow-y: auto;">
                {% if uploaded_beats %}
                    <div class="list-group">
                        {% for beat in uploaded_beats %}
                            <div class="list-group-item list-group-item-action mb-3">
                                <div class="row" style="margin-top: 0px;">
                                    <div class="col-md-3">
                                        <img src="{{ beat.cover_image.url }}" class="rounded square-image-small" alt="{{ beat.title }} Cover">
                                    </div>
                                    <div class="col-md-9">
                                        <h5 class="mb-1">{{ beat.title }}</h5>
                                        <p class="mb-1">{{ beat.genre }} - {{ beat.release_date }}</p>
                                        <p class="mb-1">{{ beat.description }}</p>
                                        {% if beat.audio_file_url %}
                                            <audio controls class="w-100">
                                                <source src="{{ beat.audio_file_url }}" type="audio/mp3">
                                                Your browser does not support the audio element.
                                            </audio>
                                        {% else %}
                                            <p class="text-muted">Audio file not found.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-muted">No beats uploaded yet.</p>
                {% endif %}
            </div>
            <a href="{% url 'accounts:parametre' %}" class="btn btn-primary mt-3">Parametre</a>
            <a href="{% url 'beats:upload_beat' %}" class="btn btn-primary mt-3">Upload</a>
        </div>
    </div>
</div>
{% endblock content %}
