{% extends 'layout/layout.html' %}

{% block content %}
    <h1>User Profile</h1>
    <h2>{{ user_profile.username }}</h2>
    <p>Full Name: {{ user_profile.full_name }}</p>
    <p>Email: {{ user_profile.email }}</p>
    <p>Country: {{ user_profile.country }}</p>
    <p>Profile Picture: <img src="{{ user_profile.profile_picture }}" alt="Profile Picture"></p>
    <p>Profile Description: {{ user_profile.profile_free_text }}</p>
    <p>Telephone: {{ user_profile.tel }}</p>
    <p>Professional Mail: {{ user_profile.mail_pro }}</p>

    <hr>
    <h2>Uploaded Beats</h2>
    {% if uploaded_beats %}
        <ul>
            {% for beat in uploaded_beats %}
                <li>{{ beat.title }} - {{ beat.genre }} - {{ beat.release_date }}</li>
                <!-- Display more details of the beat as needed -->
            {% endfor %}
        </ul>
    {% else %}
        <p>No beats uploaded yet.</p>
    {% endif %}

<a href="{% url 'accounts:parametre'%}"> Parametre </a>

{% endblock content %}
