aiohttp==3.9.5
aiosignal==1.3.1
altgraph==0.17.4
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.1.0
bcrypt==4.1.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.3
colorama==0.4.6
discord==2.2.3
discord.py==2.2.3
Django==5.0.6
django-dark==0.1.9
frozenlist==1.4.1
idna==3.7
inquirerpy==0.3.4
markdown-it-py==2.2.0
mdurl==0.1.2
multidict==6.0.5
packaging==24.1
pefile==2023.2.7
pfzy==0.3.4
Pillow==9.5.0
prompt_toolkit==3.0.47
psutil==5.9.5
pycryptodome==3.17
pyfiglet==0.8.post1
Pygments==2.18.0
pyinstaller-hooks-contrib==2024.7
pyobf2==1.2.0
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
rich==13.3.5
sqlparse==0.5.0
tomlkit==0.11.8
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.0.2
wcwidth==0.2.13
WMI==1.5.1
yarl==1.9.4
