{% block bottombar %}
<nav class="navbar navbar-light bg-dark fixed-bottom">
    <div class="container">
        <a href="{% url 'beatmakers:sell' %}" class="nav-item nav-link">Sell</a>
      <div class="navbar">
        <a href="{% url 'accounts:parametre_about' %}" class="nav-item nav-link">About</a>
        <a href="{% url 'accounts:parametre_confidentiality' %}" class="nav-item nav-link">Confidenciality</a>
        <a href="{% url 'accounts:parametre_cookie' %}" class="nav-item nav-link">Cookie</a>
        <p>Soundrise  copyright © all rights reserved</p>
    </div>
    </div>
  </nav>    
    
  
{% endblock bottombar %}