{% block bottombar %}
<nav class="navbar navbar-light bg-dark fixed-bottom">
  <div class="bottom">
      <div class="navbar">
          <a href="{% url 'accounts:parametre_onglet' 'default' %}" class="nav-item nav-link">Parametre</a>
          <a href="{% url 'accounts:parametre_onglet' 'about' %}" class="nav-item nav-link text-center">About</a>
          <a href="{% url 'accounts:parametre_onglet' 'confidentiality' %}" class="nav-item nav-link text-center">Confidentiality</a>
          <a href="{% url 'accounts:parametre_onglet' 'cookie' %}" class="nav-item nav-link text-center">Cookie</a>
      </div>
      <p class="text-center">Soundrise copyright © all rights reserved</p>
  </div>
</nav>

    
  
{% endblock bottombar %}