{% extends 'pages/parametre.html' %}

{% block content2 %}
<div class = "onglet-parametre-default">    
    <div class="me">
        <div class="actuel">
            <div class="actuel2">Abonnement actuel
            <div class="corp">Abonnement Premium
                <div class="data1">mois d'abonnement consécutif :
                    <div class="variable1">3</div>
                </div>
                <div class="data1">Abonné depuis le :
                    <div class="variable">12 janvier 2024</div>
                </div>
                <div class="prix">19,99$/mois</div>
            </div>
            </div>
        </div>
        <div class="border1"></div>
        
        <div class="paiement">
        <div class="paiement2">Infos paiement
          <div class="titre-abo">  
            <div class="name">
                    <div>Francois</div>
                    <div>Philippe</div>
                </div>
                <div class="cb1">Mastercard
                    <div>
                        <div class="perso-abo">CVC</div>
                        <div class="private">**** **** **** 2345</div>
                    </div>
                    <div>
                        <div class="perso-">Code</div>
                        <div class="private">****</div>
                    </div>
                </div>
            </div>  
        </div>
        </div>
    </div>
    
    <div class="abonnement1">
        <div class="card1">
            <span class="title1"
              >Standard
              <p class="pricing">$4.99 <span class="pricing-time">/ month</span></p>
              <span class="sub-title"
                >Everything on Basic plus:
                <ul class="list1">
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                </ul>
                <button class="button1">
                  <span class="text-button1">Get Standard now</span>
                </button>
              </span></span
            >
          </div>
          
          <div class="card1">
            <span class="title1"
              >Pro
              <p class="pricing">$9.99 <span class="pricing-time">/ month</span></p>
              <span class="sub-title"
                >Everything on Basic plus:
                <ul class="list1">
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                </ul>
                <button class="button1">
                  <span class="text-button1">Get pro now</span>
                </button>
              </span></span
            >
          </div>
          <div class="card1">
            <span class="title1"
              >Premium
              <p class="pricing">$29.99 <span class="pricing-time">/ month</span></p>
              <span class="sub-title"
                >Everything on Basic plus:
                <ul class="list1">
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                  <li class="list-item"><span class="check">✓</span> Feature</li>
                </ul>
                <button class="button1">
                  <span class="text-button1">Get premium now</span>
                </button>
              </span></span
            >
          </div>


    
    </div>
</div>
{% endblock content2 %}
