{% extends 'pages/parametre.html' %}

{% block content2 %}
<h1>Soundrise : Achetez, vendez et promouvez vos beats</h1>

    <h2>Présentation</h2>

    <p>Soundrise est une plateforme innovante dédiée aux beatmakers et aux artistes de musique. Elle offre une solution complète pour acheter, vendre et promouvoir des beats de haute qualité.</p>

    <h2>Fonctionnalités principales</h2>

    <h3>Acheter des beats</h3>

    <p>Sur Soundrise, vous trouverez une vaste collection de beats dans tous les styles imaginables. Vous pouvez parcourir les beats par genre, par humeur, par instrumentiste et par bien d'autres critères. Une fois que vous avez trouvé un beat qui vous plaît, vous pouvez l'acheter en toute sécurité et le télécharger instantanément.</p>

    <h3>Vendre des beats</h3>

    <p>Si vous êtes un beatmaker, Soundrise vous permet de vendre vos beats à un public mondial. Vous pouvez créer votre propre boutique en ligne et définir vos propres prix. Vous aurez également accès à des outils marketing pour promouvoir vos beats et toucher un plus large public.</p>

    <h3>Promouvoir vos beats</h3>

    <p>Soundrise propose plusieurs options pour promouvoir vos beats. Vous pouvez par exemple publier des pulses dans lesquelles vous faites la promotion de votre dernier beat </p>

    <h2>Avantages de Soundrise</h2>

    <p>Soundrise offre de nombreux avantages aux beatmakers et aux artistes de musique, notamment :</p>

    <ul>
        <li>Une vaste collection de beats de haute qualité</li>
        <li>une plateforme sécurisée et facile à utiliser</li>
        <li>Des outils marketing puissants pour promouvoir vos beats</li>
        <li>Une communauté active de beatmakers et d'artistes</li>
        <li>Un support client réactif</li>
    </ul>

    <h2>Commencez dès aujourd'hui !</h2>

    <p>Si vous êtes prêt à acheter, vendre ou promouvoir vos beats, inscrivez-vous dès aujourd'hui à Soundrise. C'est gratuit et facile !</p>

    <a href="{% url 'accounts:register'%}" class="btn">Inscription gratuite</a>

    <h2>FAQ</h2>

    <h3>Qu'est-ce qu'un beat ?</h3>

    <p>Un beat est une base instrumentale sur laquelle les artistes peuvent rapper ou chanter. Les beats sont généralement créés à l'aide de logiciels de production musicale ou de samplers.</p>

    <h3>Quels sont les différents types de beats ?</h3>

    <p>Il existe de nombreux types de beats différents, notamment les beats hip-hop, les beats pop, les beats EDM, les beats R&B et les beats jazz.</p>

    <h3>Comment puis-je acheter un beat sur Soundrise ?</h3>

    <p>Pour acheter un beat sur Soundrise, vous devez d'abord créer un compte. Une fois que vous avez créé un compte, vous pouvez parcourir les beats et les acheter en toute sécurité avec votre carte de crédit ou votre compte PayPal.</p>

    <h3>Comment puis-je vendre des beats sur Soundrise ?</h3>

    <p>Pour vendre des beats sur Soundrise, vous devez d'abord créer un compte. Une fois connecté , vous pouvez télécharger vos beats et les mettre en vente dans la page sell.</p>

    <h3>Comment puis-je promouvoir mes beats sur Soundrise ?</h3>

    <p>Soundrise propose les pulses , le meilleur moyen de promouvoir son contenu .Créer la nouvelle trend</p>
{% endblock content2 %}

