{% extends 'pages/parametre.html' %}

{% block content2 %}
<div class = "onglet-parametre-default">
    <div class="recherche-act">
        <div class="nothing"></div>
        <div class="nothing"></div>
        <button class="but-act"  ><a href="{% url 'accounts:historique_beat'%}" style="color : white">Beat</a></button>
        <button class="but-act" ><a href="{% url 'accounts:historique_artist'%}" style="color : white">Artist</a></button>
        <button class="but-act" ><a href="{% url 'accounts:historique_recherche'%}" style="color : white">research</a></button>
        <div class="nothing"></div>
        <div class="nothing"></div>
    </div>
    <div class="box-rec">
        <div class="division-rec"></div>
        <div class="contenu-rec">
            <div class="catégorie-rec">
                <div class="subject1-rec">Recherche</div>
                <div class="date1-rec">Date</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">Beat</div>
                <div class="date-rec">19/06</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">Song</div>
                <div class="date-rec">19/06</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">Song cool</div>
                <div class="date-rec">19/07</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">Beat rapide</div>
                <div class="date-rec">19/07</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">hit</div>
                <div class="date-rec">19/07</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">beat été</div>
                <div class="date-rec">19/08</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">instru rap</div>
                <div class="date-rec">19/08</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">hit été</div>
                <div class="date-rec">19/09</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">Maddy pain</div>
                <div class="date-rec">19/09</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">Desbois</div>
                <div class="date-rec">19/09</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">Beat</div>
                <div class="date-rec">1909</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">beat long</div>
                <div class="date-rec">19/10</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">110 bpm</div>
                <div class="date-rec">19/10</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">beat pas cher</div>
                <div class="date-rec">19/10</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">song remix</div>
                <div class="date-rec">19/11</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">remix beat luis</div>
                <div class="date-rec">19/11</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">David guetto</div>
                <div class="date-rec">19/11</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">maitre gimnastique</div>
                <div class="date-rec">19/12</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">Johny allydays</div>
                <div class="date-rec">19/12</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">Robin caillou</div>
                <div class="date-rec">19/12</div>
            </div>

            <div class="ligne-rec">
                <div class="subject-rec">The week</div>
                <div class="date-rec">19/01</div>
            </div>
            <div class="ligne-rec">
                <div class="subject-rec">Jean jacques geul man</div>
                <div class="date-rec">19/01</div>
            </div>
            
        </div>
        <div class="division-rec"></div>
    </div>
</div>
{% endblock content2 %}